.app-container {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}
.app-container h1 {
  font-size: 70px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #b393d3;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #303dd3,
               1px 2px 0px #303dd3,
               1px 3px 0px #303dd3,
               1px 4px 0px #303dd3,
               1px 5px 0px #303dd3,
               1px 6px 0px #303dd3,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

.congratulations {
  margin-top: 40px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.congratulations h2 {
  margin-top: 0;
}

.congratulations p {
  margin-bottom: 20px;
}