.app-container {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.congratulations {
  margin-top: 40px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.congratulations h2 {
  margin-top: 0;
}

.congratulations p {
  margin-bottom: 20px;
}